<header class="header">
    <div class="text-box">
       <h4 class="heading-primary">
           <span class="heading-primary-main">Exploration of being</span>
           <span class="heading-primary-sub">Help us to help the nation</span>
       </h4> 
       <div>
           <a href="" class="button button-yellow">Donate Now</a>
           <a href="" class="button button-green">Donate Now</a>
       </div>   
    </div>
</header>
<main>
     <section class="section-about">
         <h3 class="secondary-heading">
            Make the nation happy you feel happy
         </h3>
         <div class="row">
             <div class="col-md-6">
                Education is a fundamental human right and vital for achieving economic growth, increasing income, and sustaining a healthy society.

                Help Us to Help the Child is a non-profit organization working passionately to provide education to the unprivileged section of society. It is a Social Welfare Association founded in February 2012 by Mr. Shwet Prakash Srivastava, now an alumnus of ABES Engineering College, for imparting education to the children in slum areas, who do not have means to go to school.
                
                In this course of time, students from different colleges have come forward and taken initiatives to make their contributions to the society. Accordingly, the young and enthusiastic team has been working very hard for the education of the children in the slums for more than 7 years now and thus educating over 800+ children of slums and still counting. The organization got registered under societies registration act XXI of 1860, in June 2013 and is working under the motto of, “Every child is a divine opportunity”.

             </div>
             <div class="col-md-6">
                 <div class="composition">
                     <img src="../../assets/img1.jpg" alt="photo 1" class="img-fluid composition_photo p1">
                     <img src="../../assets/img1.jpg" alt="photo 2" class=" img-fluid composition_photo p2">
                     <img src="../../assets/img1.jpg" alt="photo 3" class="img-fluid composition_photo p3">
                    </div>
             </div>
         </div>
     </section>
     <div class="features">
         <h4 style="text-align: center;"class="features-heading">Our Features</h4>
         <div class="row">
              <div class="col-md"></div>
             <div class="col-md-3">
                 <div class="card">
                     <div class="logo-box">
                         <h4>Give Donation</h4>
                         <img src="../../assets/donate.png" alt="Donate us">
                         <p>
                            It you're. Was called you're fowl grass lesser 
                             together waters beast darkness earth land whose
                              male all moveth fruitful.
                         </p>
                     </div>
                 </div>
             </div>
             <div class="col-md-3">
                <div class="card">
                    <div class="logo-box">
                        <h4>Give Donation</h4>
                        <img src="../../assets/giveinspration.png" alt="Inspiration">
                        <p>
                           It you're. Was called you're fowl grass lesser 
                            together waters beast darkness earth land whose
                             male all moveth fruitful.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="logo-box">
                        <h4>Give Donation</h4>
                        <img src="../../assets/volenteer.png" alt="volenteer">
                        <p>
                           It you're. Was called you're fowl grass lesser 
                            together waters beast darkness earth land whose
                             male all moveth fruitful.
                        </p>
                    </div>
                </div>
            </div>
             <div class="col-md"></div>
         </div>
     </div>
     <div class="events">
        <h4 style="text-align: center;"class="features-heading">RECENT EVENTS</h4>
        <div class="row">
             <div class="col-md"></div>
            <div class="col-md-3">
                <div class="card event" style="padding-bottom: 50px;">
                     <div class="card__side front_side">
                         
                     </div>
                     <div class="card__side  back_side">
                         hello
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card event" style="padding-bottom: 50px;">
                     <div class="card__side front_side">
                         
                     </div>
                     <div class="card__side  back_side">
                         hello
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card event" style="padding-bottom: 50px;">
                     <div class="card__side front_side">
                        
                     </div>
                     <div class="card__side  back_side">
                         hello
                    </div>
                </div>
            </div>
            <div class="col-md"></div>
        </div>
    </div>
    </main>
